* {
  margin: 0;
  padding: 0;
  /* background-color: blueviolet; */
}

body {
  overscroll-behavior: none;
  overflow: hidden;
  
}

#container {
  width: 100vw;
  height: 100vh;
  border: 1px solid #f00;

}

canvas {
  display: block;
}
